
<math>
    <mrow>
        <msup>  
            <mn>{{base}}</mn>  
            <mn>{{power}}</mn>  

         </msup>

    
        @if (showRval) {
            @if (displayOp) {
                <mo>
                    {{displayOp}}
                </mo>
            }
            @else {
                <mo>
                    =
                </mo>
            }
            @if (displayRval) {
                <mn>
                    {{displayRval | number}}
                </mn>
            }
            @else {
                <mn>
                    {{value | number}}
                </mn>
            }
        
        }

    </mrow>

</math>