<div>
    <h1>Math component test</h1>

    <a href="https://github.com/smycynek/math-components">https://github.com/smycynek/math-components</a>


    <p>I'd like a system to render various math expressions, their calculated values, and simple equalities and
        inequalities</p>
    <p>MathML can do this, but if I want all my expressions to be data-driven, it helps to have some Angular
        components to organize what is rendered. I thought about using MathJAX or other packages, but many do not
        work well with newer versions of angular, and I still need to dynamically generate the input data (LaTeX),
        so using those libraries seemed like a lot of overhead to exchange one problem for another.
    </p>

    <p>With the set of components in this project, we can display various expression types (fractions, whole numbers,
        roots
        addition, subtraction, multiplication, division, exponents).
    </p>
    <p>
        Here's a root expression
    </p>
    <p>
        <math-exp [mathData]="getSampleRoot()"></math-exp>
    </p>
    <p>
        We can also optionally show the value the expression is equal to. For example, we can render:
    </p>

    <p>
        <math-exp [mathData]="getSampleRootWithValue()"></math-exp>
    </p>

    <p> We can also optionally override the equality operator and displayed r-value. We'd typically
        want to put some words around an expression like this to explain why we're changing things.
    </p>
    <div>
        <span>{{preamble}}</span>
        <math-exp [mathData]="getSampleRootWithOverriddenValue()" />
        <span>{{postamble}}</span>
    </div>

    <p>Here are more examples</p>
    <details>
        <summary>Roots</summary>

        <div *ngFor="let rdata of getRootData(); index as i">
            <math-exp [mathData]="rdata" />
        </div>

    </details>


    <details>
        <summary>Whole numbers, fractions, and mixed numbers</summary>

        <div *ngFor="let rdata of getMixedNumData(); index as i">
            <math-exp [mathData]="rdata" />
        </div>

    </details>


    <details>
        <summary>Addition, subtraction, multiplication, and division</summary>

        <div *ngFor="let rdata of getAddData(); index as i">
            <math-exp [mathData]="rdata" />
        </div>

        <div *ngFor="let rdata of getSubData(); index as i">
            <math-exp [mathData]="rdata" />
        </div>

        <div *ngFor="let rdata of getMultData(); index as i">
            <math-exp [mathData]="rdata" />
        </div>

        <div *ngFor="let rdata of getDivData(); index as i">
            <math-exp [mathData]="rdata" />
        </div>

    </details>

    <details>
        <summary>Exponents</summary>

        <div *ngFor="let rdata of getExpData(); index as i">
            <math-exp [mathData]="rdata" />
        </div>

    </details>


    <details>
        <summary>Use of color</summary>
        <div class="correct math-sentence">
            <span class="math-text-r">Correct!</span>
            <math-exp [mathData]="newExponent(null,5,2,true)" />
        </div>

        <div class="incorrect math-sentence">
            <span class="math-text-r">Incorrect.</span>
            <math-exp [mathData]="newRoot(null,1,3,8, true,'!=', 4)" />
        </div>

    </details>

    <details>
        <summary>Other</summary>
        <p>Generic container with expression data declared explicitly rather than from a helper <code>ExpressionData</code> object</p>
        <math-exp
            [mathData]="{opType: '_RootData', prefixOp: null, coefficient: 4, index: 3, radicand: 8, value: 8, showRval: true, displayOp: '&ne;', displayRval:99}" />
        <p>Root component declared explicitly using an <code>app-mroot</code> component</p>
        <app-mroot coefficient="4" index="3" radicand="8" value="8" [showRval]=true displayOp="&ne;" [displayRval]="99">
        </app-mroot>
    </details>

    <details>
        <summary>Compound Sentence from data array (most complex use case)</summary>

        <!-- Need to abstract this div, span, and ngFor into a component -->
  
        <math-sentence [dataArray]="compoundSentence1"/>
        <math-sentence [dataArray]="compoundSentence2"/>
        <math-sentence [dataArray]="compoundSentence3"/>
        <math-sentence [dataArray]="compoundSentence4"/>
        <math-sentence [dataArray]="compoundSentence5"/>
        <math-sentence [dataArray]="compoundSentence6"/>
        <math-sentence [dataArray]="compoundSentence7"/>
        <math-sentence class="correct" [dataArray]="compoundSentence8"/>
        <math-sentence [dataArray]="compoundSentence9"/>
        <math-sentence [dataArray]="compoundSentence10"/>
        <math-sentence class="incorrect" [dataArray]="compoundSentence11"/>
       </details>

    <details>
        <summary>Grid</summary>
        <div *ngFor="let rdata of getMixedNumDataRow(); index as i">
            <div class="col cell">
                <math-exp [mathData]="rdata" />
            </div>
        </div>
    </details>
</div>