<div>
    <h1>Math Component Test</h1>
    <a href="https://github.com/smycynek/math-components">https://github.com/smycynek/math-components</a>

    <h2>The challenge</h2>
    <p>I'd like a system to render various math expressions, their calculated values, and simple equalities and
        inequalities to improve the math rendering code I use in my children's game

        <a href="https://stevenvictor.net/number-munchers/">https://stevenvictor.net/number-munchers</a>
    </p>
    <h2>The complications</h2>
    <p>MathML can do this formatting, and I already use it, but: </p>
    <ol>
        <li> I'd like to generate data dynamically from lists of pseudo-random numbers to populate math expressions.
        </li>
        <li> I'd like to generate different types of expressions that take different kinds of arguments, such as roots
            and fractions.</li>
        <li> Furthermore, like the type of data payload to drive the type of expression I'm rendering. For example, I
            want something like

            <code>(root 2, 3, 8)</code> to automatically render <math>
                <mrow>
                    <mn>2</mn>
                    <mroot>><mn>8</mn>
                        <mn>3</mn>
                    </mroot>
                    <mo>=</mo>
                    <mn>4</mn>
                </mrow>
            </math>
            <br />( <code>
                    &lt;math&gt;&lt;mrow&gt;&lt;mn&gt;2&lt;/mn&gt;&lt;mroot&gt;&lt;mn&gt;8&lt;/mn&gt;&lt;mn&gt;3&lt;/mn&gt;&lt;/mroot&gt;&lt;/mrow&gt;&lt;/math&gt;    
                </code> )
            with minimal mess in the client code.
    </ol>

    <p> I thought about using MathJAX or other packages, but many do not
        work well with newer versions of angular, and I still need to dynamically generate the input data (LaTeX) syntax
        from my basic numerical input data, so using those libraries seemed like a lot of overhead to exchange one
        problem for another.
    </p>

    <h2>First attempt</h2>
    <p>I started off with a bit of a hack, where I used the DOM API to append MathML tags to a node and then set the
        <code>innerHTML</code>
        property of another <code>div</code> with that node's data. This is a messy approach though.
        I wanted something that was component-centric, which isn't hard except for the fact that I have a variety of
        expression data types that each
        need to be bound to a different component.
    </p>



    <h2>Angular-centric attempt</h2>

    <p>This is my component-centric attempt you can see that the github link above. With the set of components in this
        project, we can display various expression types (fractions, whole numbers,
        roots addition, subtraction, multiplication, division, exponents). Here's a root expression:
    </p>
    <p>
        <math-exp [mathData]="getSampleRoot()"></math-exp>
    </p>
    <p>
        We can also optionally show the value the expression is equal to (calculated automatically). For example, we can
        render:
    </p>
    <p><math-exp [mathData]="getSampleRootWithValue()"></math-exp>
    </p>

    <p> We can also optionally override the equality operator and displayed r-value.

    </p>
    <div>
        <math-exp [mathData]="getSampleRootWithOverriddenValue()" />
    </div>


    <details>
        <summary>More examples: Note that some equalities are intentionally overridden to incorrect</summary>

        <details class="indent">
            <summary>Roots</summary>

            <div *ngFor="let rdata of getRootData(); index as i">
                <math-exp [mathData]="rdata" />
            </div>

        </details>


        <details class="indent">
            <summary>Whole numbers, fractions, and mixed numbers</summary>

            <div *ngFor="let rdata of getMixedNumData(); index as i">
                <math-exp [mathData]="rdata" />
            </div>

        </details>


        <details class="indent">
            <summary>Addition, subtraction, multiplication, and division</summary>

            <div *ngFor="let rdata of getAddData(); index as i">
                <math-exp [mathData]="rdata" />
            </div>

            <div *ngFor="let rdata of getSubData(); index as i">
                <math-exp [mathData]="rdata" />
            </div>

            <div *ngFor="let rdata of getMultData(); index as i">
                <math-exp [mathData]="rdata" />
            </div>

            <div *ngFor="let rdata of getDivData(); index as i">
                <math-exp [mathData]="rdata" />
            </div>

        </details>

        <details class="indent">
            <summary>Exponents</summary>

            <div *ngFor="let rdata of getExpData(); index as i">
                <math-exp [mathData]="rdata" />
            </div>

        </details>
    </details>

    <details>
        <summary>Other ways of specifying expressions</summary>
        <div class="indent">
            <p>Generic container with expression data declared explicitly rather than from a helper
                <code>ExpressionData</code> object:

                <math-exp
                    [mathData]="{opType: 'RootOpDataName', coefficient: 4, index: 3, radicand: 8, value: 8, showRval: true, displayOp: '&ne;', displayRval:99}" />
            </p>
            <p>Root component declared explicitly using an <code>app-mroot</code> component:
                <app-mroot coefficient="4" index="3" radicand="8" value="8" [showRval]=true displayOp="&ne;"
                    [displayRval]="99">
                </app-mroot>
            </p>
        </div>
    </details>


    <details>
        <summary>Compound Sentence from data array (most complex use case)</summary>
        <math-sentence [dataArray]="compoundSentence1" />
        <math-sentence [dataArray]="compoundSentence2" />
        <math-sentence [dataArray]="compoundSentence3" />
        <math-sentence [dataArray]="compoundSentence4" />
        <math-sentence [dataArray]="compoundSentence5" />
        <math-sentence [dataArray]="compoundSentence6" />
        <math-sentence [dataArray]="compoundSentence7" />
        <math-sentence class="correct" [dataArray]="compoundSentence8" />
        <math-sentence [dataArray]="compoundSentence9" />
        <math-sentence [dataArray]="compoundSentence10" />
        <math-sentence class="incorrect" [dataArray]="compoundSentence11" />
    </details>

    <details>
        <summary>Grid</summary>
        <div class="container">
            <div class="row" *ngFor="let rdata of getMixedNumDataRow(); index as i">
                <div class="col cell" *ngFor="let rdata of getMixedNumDataRow(); index as kk">
                    <math-exp [mathData]="rdata" />
                </div>
            </div>
        </div>
    </details>

    <h2>What's Next</h2>
    <p>
        One issue I have is the code duplication of the r-value (the '= 2, etc' part) code in the component HTML
        templates.
        Ideally this could be reused, inherited, or somehow references. One way is to split that code into a new
        component, but then
        we have two different <code>math</code> expressions to represent one value, and the whitespace and splitting up
        of data is messy.
    </p>
    <p>
        After I resolve this, I'll put this into <a href="https://stevenvictor.net/number-munchers">
            https://stevenvictor.net/number-munchers</a> and start adding more advanced math content to it.

    </p>
</div>