div {
    margin: 10px;
}

.cell-container {
    display: flex;
    flex-direction: row;
}

.cell {
    margin: 2px;
    width: 120px;
    height: 90px;
    align-items: center;
    align-content: center;
    vertical-align: center;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    font-size: x-large;
    background-color: lightgrey;
    padding: 0px;
    border-radius: 5px;
}

:host ::ng-deep span * {
    padding: 0px;
    margin: 0px;
}

:host ::ng-deep math-exp * {
    padding: 0px;
    margin: 0px;
}

:host ::ng-deep *  {
    &:not(code) { 
    font-family: sans-serif;
    }

}

:host ::ng-deep mfrac {
    mn {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.math-text-r {
    padding-left: 3px;
    padding-right: 3px;
}

:host ::ng-deep .correct {
    font-weight: bold;
    color: green;

    math,
    math[mode="inline"] {
        font-weight: bold;
    }

    math[mode="display"] {
        font-weight: bold;
    }

}

:host ::ng-deep .incorrect {
    font-weight: bold;
    color: red;

    math,
    math[mode="inline"] {
        font-weight: bold;
    }

    math[mode="display"] {
        font-weight: bold;
    }
}

.math-sentence {
    height: 50px;
}

math-exp {}